@model IEnumerable<FlightsReservationApp.Core.Models.Flights>
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                Departure Date
            </th>
            <th>
                Departure Time
            </th>
            <th>
                Arrival Date
            </th>
            <th>
                Arrival Time
            </th>
            <th>
                Departure Airport
            </th>
            <th>
                Departure City
            </th>
            <th>
                Arrival Airport
            </th>
            <th>
                Arrival City
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airplane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </td>
            <td>
                @{
                    string depDate = item.DepartureTime.ToString("dd-MM-yyyy");
                }
                @Html.DisplayFor(modelItem => depDate)
            </td>
            <td>
                @{
                    string depTime = item.DepartureTime.ToString("hh:mm:ss");
                }
                @Html.DisplayFor(modelItem => depTime)
            </td>
            <td>
                @{
                    string arrDate = item.ArrivalTime.ToString("dd-MM-yyyy");
                }
                @Html.DisplayFor(modelItem => arrDate)
            </td>
            <td>
                @{
                    string arrTime = item.ArrivalTime.ToString("hh:mm:ss");
                }
                @Html.DisplayFor(modelItem => arrTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportDeparture.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportDeparture.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportArrival.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportArrival.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airplane.Model)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
